runner:
  file: .runner
  capacity: 1
  envs:
    DOCKER_HOST: unix:///var/run/docker.sock
  labels: {{ runner_labels | to_yaml }}

container:
  network: host
  privileged: true
  options: "-v /var/run/docker.sock:/var/run/docker.sock"
  valid_volumes:
    - "/var/run/docker.sock"