FORGEJO_DB_USER={{ forgejo_db_user }}
FORGEJO_DB_PASSWD={{ forgejo_db_passwd }}
FORGEJO_DB_NAME={{ forgejo_db_name }}
FORGEJO_DB_HOST={{ forgejo_db_host }}
FORGEJO_DB_TYPE={{ forgejo_db_type }}
FORGEJO_UID=1000
FORGEJO_GID=1000